#mainframe {
    margin: 200px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

#adat1 {
    position: absolute;
    top: 1cm;
}

#linedifference {
    position: absolute;
    left: 5cm;
}

#adat2 {
    position: absolute;
    top: 1cm;
}

sup {
    color: red;
}